<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> ALL LISTINGS</h1>
  <form action="/listings/new" method="get">
  <button>Create New Listing</button>
  </form>
  <ul>
    <% for (let listing of alllistings) { %>
      <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
      <a href="/listings/<%= listing._id %>">show</a>
    <% } %>
  </ul>
</body>
</html>
