`<%-layout("/layouts/boilerplate") -%>
<body>
  <h1>creating new Listing</h1>
  <form action="/listings" method="post">
  <input name="listing[title]" placeholder="Enter title" type="text">
  <br>
  <br>
  <textarea name="listing[description]" placeholder="Enter description" type="text"></textarea>
  <br>
  <br>
  <input name="listing[image][url]" placeholder="Enter image URL" type="text">
  <br>
  <br>
  <input name="listing[price]" placeholder="Enter price" type="number">
  <br>
  <br>
  <input name="listing[location]" placeholder="Enter location" type="text">
  <br>
  <br>
  <input name="listing[country]" placeholder="Enter country" type="text">
  <br>
  <br>
  <button>Create Listing</button>
  </form>
</body>
